/* stephe/katbiznis
 *
 * /src/sass/styles.scss - Main styles
 *
 * coded by stephecloutier@gmail.com
 * started at 09/02/2017
 */

 html {
     background: transparent url( '../images/card-bcg.png' );
 }

  h1 {
      font-size: 0;
      line-height: 0;
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 425px;
    a {
        text-decoration: none;
        color: black;
        font-family: helvetica, arial, sans-serif;
        font-weight: 600;
        &:hover{
            color: gray;
        }
    }

}

a.flip::before {
    content: "";
    display: inline-block;
    background-image: url( "../images/flip-icon.svg" );
    background-repeat: no-repeat;
    background-size: 0.65em;
    background-position: bottom;
    width: 1em;
    height: 1em;
}


 .card-face{
     background-color: #000000;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .card-back{
     background: transparent url( "../images/main-bcg.png" ) no-repeat center;
 }


 section.card-face{
     h2{
         color: white;
         font-family: Helvetica, Arial, sans serif;
         font-weight: 400;
     }
 }

 // --- Flippin' --- //

.flip-container {
    perspective: 1000px;
}

.flip-container.hover .card-container {
     transform: translateX(-100%) rotateY(-180deg);
 }

 .flip-container, .card-face, .card-back{
     width: 425px;
     height: 275px;
 }

// - Flip speed - ///

 .card-container {
     transition: 0.6s;
     transform-style: preserve-3d;

     position: relative;
 }

 // - hiddin' the back - //
.card-face, .card-back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

// - card-face above the back - //
.card-face {
    z-index: 2;
    transform: rotateY(0deg);
}

// - card-back, initially behind & hidden - //
.card-back {
    transform: translateX(-100%) rotateY(180deg);
}
