/* stephe/katbiznis
 *
 * /src/sass/styles.scss - Main styles
 *
 * coded by stephecloutier@gmail.com
 * started at 09/02/2017
 */

 html {
     background-color: yellow;
     body {
         display: flex;
         color: red;
     }
 }
