/* stephe/katbiznis
 *
 * /src/sass/styles.scss - Main styles
 *
 * coded by stephecloutier@gmail.com
 * started at 09/02/2017
 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

$red: #bb252f;

 @font-face {
    font-family: "SourceSansPro";
    src: url( "../fonts/Source Sans Pro/SourceSansPro-ExtraLight.otf" );
    font-weight: 100;
    font-style: normal;
 }

 @font-face {
    font-family: "SourceSansPro";
    src: url( "../fonts/Source Sans Pro/SourceSansPro-Regular.otf" );
    font-weight: 500;
    font-style: normal;
 }

 html {
    background: transparent url( '../images/card-bcg.png' );
    height: 100%;
    font-family: helvetica, arial, sans-serif;
    color: black;
 }

 nav {
     display: none;
 }

 h1 {
     font-size: 0;
     line-height: 0;
 }

 body {
     min-height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .flip-container {
     width: 90%;
     max-width: 30rem;
 }

 .card-container section{
     background-color: white;
     min-height: 15rem;
     margin-bottom: 2rem;
     padding: 2rem;
     box-shadow: 0 0 .5rem rgba(black, .5);

     &.card-face {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background: $red url( "../images/colibri.svg" ) no-repeat center;
         background-size: 30%;
         h2 {
             font-size: 0;
         }
     }

     &.card-back {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         background-color: #FFFFFF;
         font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
         font-weight: 100;

         color: $red;

         line-height: 1.375;
         letter-spacing: 0.5px;

         h2 {
             padding: 0 0.25em;
             display: inline-block;
             font-size: 1em;
             margin-bottom: 0;
             font-weight: 100;
             background-color: $red;
             color: #FFFFFF;
             letter-spacing: 1px;
         }

          &>span, &>a {
              display: block;
              text-decoration: none;
              color: inherit;
          }
          .titre, .myName {
              font-weight: 500;
          }
     }
 }

 footer {
     font-size: 0.75em;
     margin-top: 2rem;
     a {
         color: black;
         text-decoration: none;
         transition: 0.2s ease-in-out;
     }
     a:hover {
         color: $red;
     }
 }

@media screen and (min-width: 640px){

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    nav {
        margin-top: 1em;
        width: 425px;
        display: inline-flex;
        justify-content: flex-end;
        svg {
            width: 0.7em;
            height: 0.7em;
            margin-right: 0.2em;
            transition: 0.2s ease-in-out;
        }
        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            transition: 0.2s ease-in-out;
        }
        a:hover{
              color: $red;
              svg{
                  fill: $red;
                  transform: rotate(180deg);
              }
        }
    }

    .card-container section {
        &.card-back{
            display: block;
            font-size: 16px;
            padding-top: 5em;
            padding-left: 38%;
        }
    }

    // --- Flippin' --- //

    .flip-container {
        perspective: 1000px;
    }

    .flip-container.hover .card-container {
        transform: translateX(-100%) rotateY(-180deg);
    }

    .flip-container, .card-face, .card-back{
        width: 425px;
        height: 275px;
    }

    // - Flip speed - ///

    .card-container {
        transition: 1.2s ease-out;
        transform-style: preserve-3d;

        position: relative;
    }

    // - hiddin' the back - //
    .card-face, .card-back {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
    }

    // - card-face above the back - //
    .card-face {
        z-index: 2;
        transform: rotateY(0deg);
    }

    // - card-back, initially behind & hidden - //
    .card-back {
        transform: translateX(-100%) rotateY(180deg);
    }
}
