doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/

        title Ma carte de visite
        link( rel="stylesheet", href="assets/css/styles.css" )/

    body
        h1 Ma carte de visite
        div( class="flip-container" ontouchstart="this.classList.toggle('hover');" )
            div( class="card-container" )
                section( class="card-face" )
                    h2 Stéphanie Cloutier
                section( class="card-back" )
        nav
            a( href="#" class="vcard" ) télécharger la vcard
            a( href="#" class="flip" ) retourner
        script( src="assets/js/script.js" )/
