doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Ma carte de visite
        link( rel="stylesheet", href="assets/css/styles.css" )/

    body
        h1 Ma carte de visite
        div( class="flip-container" )
            div( class="card-container" )
                section( class="card-face" )
                    h2 Stéphanie Cloutier
                section( class="card-back" )
                    h2= firstname + " " + lastname
                    span.titre= fonction
                    a( href="tel:0032497204373" title="Call me" )= phone
                    a( href="mailto:stephecloutier@gmail.com" title="Send me an email" ) <span class="myName">stephecloutier</span>@gmail.com
                    a(href="http://behance.net/stephecloutier" title="Visit my portfolio") behance.net/<span class="myName">stephecloutier</span>
        nav
            a( href="javascript:void(0)" class="flip" ontouchstart="this.classList.toggle('hover');" )
                include ../images/flip-icon.svg
                span retourner

        footer
            small ©&nbsp;2017 <a href="http://github.com/stephecloutier">Stéphanie Cloutier</a>

        script( type="text/javascript" src="assets/js/script.js" )
